body{
    background-color:black;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 900px;
}

.main__title {
    text-align: center;
    color: white;
}
.main-img{
    width: 300px;
    height: 200px;
}
.form{
    text-align: center;
}
.main___container {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;
    margin-bottom: 60px;
}

.text__input {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(157, 157, 157);
    box-shadow: 10px 5px 5px rgb(63, 63, 63);
}

.btn {
    box-shadow: 10px 5px 5px rgb(63, 63, 63);
    cursor: pointer;
    color: black;
    background-color: rgb(253, 253, 46);
    width: 200px;
    height: 50px;
    border: 1px solid rgb(240, 224, 4);
}

.btn:hover {
    opacity: 0.9;
}
.btn:disabled{
    color: rgb(201, 197, 197);
    background-color: rgb(249, 249, 198);
}
.info,
.container-info {
    text-align: center;
    border: 1px dotted rgb(235, 224, 8);
    box-shadow: 10px 5px 5px rgb(63, 63, 63);
    margin-bottom: 10px;
}
.title{
    font-size: 35px;
    color: white;
}
p{
    color: rgb(239, 237, 234);
}
.loader{
    width: 100px;
}

.hidden{
    display: none;
}